name: mobile_auth
description: A new Flutter project.

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.5.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # ADD DEPENDENCIES DI SINI ↓↓↓↓↓
  http: ^1.2.0
  shared_preferences: ^2.5.3
  flutter_secure_storage: ^8.0.0
  get: ^4.6.1
  image_picker: ^1.1.2

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/logo_banten.jpg
